<!DOCTYPE html>

<html>
<head>
	<title>Bear Pay</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="margin-left:25vw; margin-right:25vw; margin-top:10vh">
	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive" src="https://s3.amazonaws.com/bear-pay/logo.png">
		</div>
		<div class="col-md-9">
			<h1>Name: {{ name }}</h1>
			<h1>Balance: ${{ balance }}</h1>
		</div>
	</div>
	<div class="row center-block">
		<div class="col-md-12">
			<h3>Recent Transactions</h3>
			<ul class="list-group">
			  {% for i in range(transfers|length) %}
			  {% if i == 0 %}
			  <li class="list-group-item">{{ transfers[i] }} {% if 'new' in request.args %}<span class="badge badge-secondary">New</span>{% endif %}</li>
			  {% else %}
			  <li class="list-group-item">{{ transfers[i] }}</li>
			  {% endif %}
			  {% endfor %}
			</ul>
		</div>
	</div>
</body>
</html>